---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/Hero.astro";
import ContactCTA from "@/components/ContactCTA.astro";
---

<BaseLayout title="About | Matias Lombardi" description="About Matias Lombardi">
    <div class="stack gap-20">
        <main class="wrapper stack gap-8">
            <Hero
                posttitle="Sobre Mí"
                tagline="Agradezco su visita y le invito a conocer más sobre mi identidad y trayectoria."
                align="start"
            >
                <img
                    width="776.5"
                    height="436.5"
                    src="/assets/images/working.jpg"
                    alt="Matias Lombardi, sonriendo, de fondo su mundo resumido en un escritorio personalizado"
                />
            </Hero>
            <section>
                <h2 class="section-title">Historia</h2>
                <div class="content">
                    <p>
                        Oriundo de la provincia de Buenos Aires, de niño migré a la ciudad de Córdoba, donde descubrí <span>mi pasión</span> por la tecnología. Inicialmente, decidí enfocarme en la parte física, adquiriendo conocimientos técnicos sobre hardware.
                    </p>
                    <p>
                        Con el tiempo, mientras trabajaba en la industria manufacturera, <span>tuve la experiencia de desarrollar mi primer sistema en Visual Basic for Applications</span>, lo que en ese momento fue un logro significativo para mí. Este hecho encendió mi pasión por la programación. Decidí cambiar el rumbo de mi vida y me encaminé hacia la carrera de Ingeniería de Sistemas, dejando atrás mi trabajo anterior.
                    </p>
                    <p>
                        Tuve la oportunidad de aplicar tempranamente mis conocimientos en el entorno laboral de sistemas, participando en proyectos relacionados con SAP.
                    </p>
                    <p>
                        Con el paso de los años, me di cuenta de que <span>la gestión de proyectos era una de mis mejores habilidades</span>, pero a medida que realizaba más tareas, algo no me satisfacía: no podía plasmar las funcionalidades o procesos que diseñaba. 
                    </p>
                    <p>
                        Mi pasión por la programación me impulsó a seguir aprendiendo y creciendo. Decidí poner manos a la obra y comencé a especializarme como desarrollador. <span>Hoy en día, disfruto de la experiencia analítica en proyectos altamente complejos y de la capacidad para crear soluciones de alto rendimiento.</span>
                    </p>
                </div>
            </section>
            <section>
                <h2 class="section-title">Educación</h2>
                <span class="startpoint"></span>
                <span class="startpoint"></span>
                <span class="startpoint"></span>
                <div class="box">
                    <article class="pointer">
                        <div class="content">
                            <h3 class="subtitle-about">Ingeniería en Sistemas de la Información</h3>
                            <p>Universidad Tecnológica Nacional - FRC</p>
                            <span>2018 - Actualidad</span>
                        </div>
                    </article>
                    <article class="pointer">
                        <div class="content">
                            <h3 class="subtitle-about">Ingeniería Industrial</h3>
                            <p>Universidad Tecnológica Nacional - FRC</p>
                            <span>2015 - 2018</span>
                        </div>
                    </article>
                    <article class="pointer">
                        <div class="content">
                            <h3 class="subtitle-about">Tecnico Superior en Electronica</h3>
                            <p>IPET N°48 Presidente Roca</p>
                            <span>2007 - 2010</span>
                        </div>
                    </article>
                </div>
                <span class="endpoint"></span>
                <span class="endpoint"></span>
                <span class="endpoint"></span>
            </section>
            <section>
                <h2 class="section-title">Certificaciones</h2>
                <section class="box-skills">
                    <article class="stack gap-2 lg:gap-4">
                        <h3>Desarrollador Frontend whit React</h3>
                        <p>Universidad Tecnológica Nacional - FRC</p>
                        <a href="https://uve.frc.utn.edu.ar/mod/customcert/verify_certificate.php?contextid=53423&code=fWzEWlmfEL&qrcode=1">Certificado</a>
                    </article>
                    <article class="stack gap-2 lg:gap-4">
                        <h3>FullStack Developer Java</h3>
                        <p>Realizado por la Universidad Tecnológica Nacional - FRC</p>
                        <a href="https://uve.frc.utn.edu.ar/mod/customcert/verify_certificate.php?contextid=53423&code=fWzEWlmfEL&qrcode=1" target="_blank">Certificado - Nivel Inicial</a>
                        <a href="https://uve.frc.utn.edu.ar/mod/customcert/verify_certificate.php?contextid=62683&code=S0VAKyBWAP&qrcode=1" target="_blank">Certificado - Nivel Intermedio</a>
                    </article>
                    <article class="stack gap-2 lg:gap-4">
                        <h3>JavaScript Algorithms and Data Structures</h3>
                        <p>Otorgado por <a href="https://www.freecodecamp.org/" target="_blank">FreecodeCamp</a> para estudiantes autodidactas.</p>
                        <a href="https://www.freecodecamp.org/certification/Lombardi_m/javascript-algorithms-and-data-structures">Certificado</a>
                    </article>
                    <article class="stack gap-2 lg:gap-4">
                        <h3>Responsive Web Desing</h3>
                        <p>Otorgado por <a href="https://www.freecodecamp.org/" target="_blank">FreecodeCamp</a> para estudiantes autodidactas.</p>
                        <a href="https://www.freecodecamp.org/certification/Lombardi_m/responsive-web-design">Certificado</a>
                    </article>
                    <article class="stack gap-2 lg:gap-4">
                        <h3>Introducción a los Algoritmos y la Programación</h3>
                        <p>Dictado en <a href="https://www.todocodeacademy.com/" target="_blank">TodoCodeAcademy</a> de forma online para estudiantes autodidactas.</p>
                        <a href="https://todocodeacademy.com/certificate/dra/">Certificado</a>
                    </article>
                </section>
            </section>
        </main>
        <ContactCTA />
    </div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
        margin: auto;
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
        margin-top: 2rem;
	}

    /******************************************* */
    .subtitle-about {
        color: var(--accent-dark);
        font-size: var(--text-lg);
    }

    .startpoint,
    .endpoint {
        height: .2rem;
        width: .2rem;
        background-color: var(--accent-text-over);
        border-radius: 50%;
    }

    .box {
        position: relative;
        border-left: .15rem solid var(--accent-text-over);
        padding-top: 12px;
    }

    .pointer{
    position: relative;
    padding-left: 1.25rem;
    }

    .pointer::before {
        content: '';
        position: absolute;
        left: -.68rem;
        width: 1.25rem;
        height: 1.25rem;
        background-color: var(--accent-text-over);
        border-radius: 50%;
    }

    .box-skills {
		/* border: 1px solid var(--gray-800); */
		/* box-shadow: var(--shadow-sm); */
		/* border-radius: 0.75rem; */
        border: none;
        padding: 1.5rem;
		background-color: var(--gray-999_40);
        display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.box-skills h3 {
		font-size: var(--text-lg);
	}

	.box-skills p {
		color: var(--gray-400);
	}
    /******************************************* */

	.content {
		grid-column: 2 / 4;
        padding-bottom: 16px;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

    .content p:first-child {
        margin-top: 0;
    }
    .content p {
        margin-top: 12px;
    }

    .content p span {
        background-color: var(--accent-regular);
        color: var(--accent-text-over);
        padding: 2px;
    }

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}

        .startpoint,
        .endpoint {
            margin: -10px 0;
        }

        .box {
            margin: -10px 0;
        }

        .box-skills {
			border-radius: 1.5rem;
			padding: 2.5rem;
            display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.box-skills h3 {
			font-size: var(--text-xl);
		}
	}
</style>
