---
import { getCollection } from "astro:content";

// components
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/Hero.astro";
import Pill from "@/components/Pill.astro";
import Icon from "@/components/Icon.astro";
import Skills from "@/components/Skills.astro";
import Grid from "@/components/Grid.astro";
import PortfolioPreview from "@/components/PorfolioPreview.astro";
import CallToAction from "@/components/CallToAction.astro";
import ContactCTA from "@/components/ContactCTA.astro";

// Content Fetching: List four most recent work projects
const projects = (await getCollection("work"))
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0, 4);
---

<BaseLayout>
	<section class="stack gap-20 lg:gap-48">
		<div class="wrapper stack gap-8 lg:gap-20">
			<section class="hero">
				<Hero
					pretitle="Hola a  todos 👋!\n"
					title='Soy Matias Lombardi'
					tagline="Analista Funcional & Desarrollador Web"
					align="start"
				>
					<article class="roles">
						<Pill>
							<Icon icon="code" size="1.33em" />Metódico
						</Pill>
						<Pill>
							<Icon
								icon="microphone-stage"
								size="1.33em"
							/>Comunicativo
						</Pill>
						<Pill>
							<Icon icon="change" size="1.33em" />Adaptable
						</Pill>
						<Pill>
							<Icon icon="strategy" size="1.33em" />Analítico
						</Pill>
					</article>
					<div class=" w-80 pt-4 m-auto md:m-0">
						<CallToAction 
							href="/assets/files/lombardi-cv.pdf" 
							target="_blank"
							rel="noopener noreferrer"
						>
							Descargar CV
						</CallToAction>
					</div>
				</Hero>
				<img
					alt="Un avatar de Matias Lombardi mirando de frente con una mirada ladeada hacia el horizonte trasmitiendo confianza"
					width="480"
					height="620"
					src="/assets/images/avatar21.webp"
				/>
			</section>
			<Skills />
		</div>

		<div class="wrapper stack gap-20 lg:gap-48">
			<section class="section with-background with-cta">
				<article class="section-header stack gap-2 lg:gap-4">
					<h3>Proyectos</h3>
					<p>Echa un vistazo a algunos de mis trabajos destacados.</p>
				</article>
				<article class="gallery">
					<Grid variant="offset">
						{
							projects.map((project) => (
								<li>
									<PortfolioPreview project={project} />
								</li>
							))
						}
					</Grid>
				</article>
				<article class="cta">
					<CallToAction href="/work/">
						Ver Proyectos
						<Icon icon="arrow-right" size="1.2em" />
					</CallToAction>
				</article>
			</section>
		</div>
		<ContactCTA />
	</section>
</BaseLayout>

<style>
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.roles {
		display: none;
	}

	.hero img {
		position: relative;
		aspect-ratio: 1 / 1;
		object-fit: cover;
		object-position: top;
		border-radius: 1.5rem;
		filter: var(--shadow-dropmd);
	}

	@media (min-width: 50em) {
		.hero {
			display: grid;
			grid-template-columns: 6fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}

		.hero img {
			aspect-ratio: 3 / 4;
			border-radius: 4.5rem;
			object-fit: cover;
			object-position: center top;
		}
	}

	/* ====================================================== */

	.section {
		display: grid;
		gap: 2rem;
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.hero img {
			display: none;
		}

		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: "header header header header" "gallery gallery gallery gallery";
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: "header header header cta" "gallery gallery gallery gallery";
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}

	/* ====================================================== */

	.mention-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.mention-card {
			border-radius: 1.5rem;
			height: 9.5rem;
		}
	}

	@media (min-width: 64em) {
		.hero img {
			display: block;
		}

	.cta {
		display: flex;
    flex-flow: column;
    justify-content: center;
	}
}
</style>
