---
import astroLogo from "@/assets/images/logo-v6.png";
import ThemeToggle from "@/components/ui/ThemeToggle.astro";
import NavContent from "../header/NavContent.astro";
import NavContainer from "../header/NavContainer.astro";

/* Items para el menu */
const menuLinks: Array<{ label: string; href: string }> = [
  { label: "Inicio", href: "/" },
  { label: "Proyectos", href: "/projects" },
  { label: "Sobre Mí", href: "/about" },
  { label: "Contacto", href: "/work-with-me" },
];

/** Links para redes sociales */
const socialLinks: Array<{ label: string; href: string; icon: string }> = [
  { label: "GitHub", href: "https://github.com/Lombardimn", icon: "ph-github-logo" },
  { label: "LinkedIn", href: "https://linkedin.com/in/mnlombardi/", icon: "ph-linkedin-logo"},
];
---

<header class="fixed top-0 left-0 w-full z-50">
  <div>
    <section class="flex flex-row items-center justify-between h-20 px-4 pt-2 backdrop-blur-md shadow-md">
      <a href="/">
        <img src={astroLogo.src} alt="Logo del sitio" class="w-24 h-auto" />
      </a>

      {/** Menu para dispositivos móviles */}
      <menu-button menu-target="menu-content">
          <button
            class:list={[
              "relative z-20 flex items-center justify-center rounded-full p-2 text-2xl transition-colors bg-radial text-slate-900 shadow-sm shadow-gray-700/30",
              "hover:from-gray-100 hover:to-slate-200 dark:hover:from-gray-800 dark:hover:to-gray-700",
              "dark:text-stone-50 dark:from-gray-600 dark:to-gray-800 to-70%"  
            ]}
            aria-expanded="false"
          >
            <span class="sr-only">Menú</span>
            <i class="ph ph-list"></i>
            <span class="p"></span>
          </button>
      </menu-button>

    </section>
    <section id="menu-content" class="hidden md:block pb-4 shadow-sm shadow-gray-700/30 dark:shadow-white/30 dark:bg-gray-950 bg-stone-50">
      <NavContainer class="dark:last:shadow-white/30 dark:last:shadow-sm">
        <NavContent links={menuLinks} />
        <span class="block w-11/12 h-0.5 mx-auto border-b-[0.5px] border-gray-700/30"></span>
      </NavContainer>
      <div class="flex flex-row justify-between items-center pt-4 md:divide-x md:divide-white">
        <NavContainer class="flex flex-row gap-1 px-4">
          <NavContent links={socialLinks} alternative />
        </NavContainer>
        <div class="pr-4">
          <ThemeToggle />
        </div>
      </div>
    </section>
  </div>
</header>


<script src="../../scripts/menuToggle.ts"></script>