---
import CallToAction from '@/components/CallToAction.astro';
import Icon from '@/components/Icon.astro';
---

<aside class="flex flex-col gap-12 text-center border-t border-solid border-tl-grey-800 border-b py-20 px-6 bg-tl-grey-999-40 shadow-tl-shadow-sm md:p-28 md:flex-row md:flex-wrap md:justify-between md:items-center">
	<h2 class="text-xlarge text-center m-auto md:m-0 max-w-[15ch] md:text-3xlarge md:text-left">¿Le interesa realizar un proyecto en conjunto?</h2>
	<div class="m-auto md:m-0 text-center">
		<CallToAction href="mailto:contactos@lombardidev.ar">
			Contacto
			<Icon icon="paper-plane-tilt" size="1.2em" />
		</CallToAction>
	</div>
</aside>
