---
interface Props {
	pretitle?: string;
    title?: string;
	posttitle?: string;
    tagline?: string;
    align?: 'start' | 'center';
}

const { align = 'center', tagline, title, pretitle, posttitle } = Astro.props;
---

<article class:list={['hero stack gap-4', align]}>
    <div class="stack gap-2">
      <h1 class="title">
				{pretitle}<span id="span-title">{title}</span>{posttitle}
			</h1>
        {tagline && <p class="tagline">{tagline}</p>}
    </div>
    <slot />
</article>

<style>
	.hero {
		font-size: var(--text-lg);
		text-align: center;
	}

	.title,
	.tagline {
		max-width: 37ch;
		margin-inline: auto;
		text-align: start;
	}

	.title {
		font-size: var(--text-3xl);
		color: var(--gray-0);
		text-wrap: balance;
	}

	#span-title{
    color: var(--accent-regular);
		display: block;
	}

	@media (min-width: 50em) {
		.hero {
			font-size: var(--text-xl);
		}

		.start {
			text-align: start;
		}

		.start .title,
		.start .tagline {
			margin-inline: unset;
		}

		.tagline {
        max-width: none;
		}

		.title {
			font-size: var(--text-5xl);
		}
	}
</style>