---
import BaseLayout from '@/layouts/BaseLayout.astro';

interface Props {
  title: string
  description: string
}

const { title = 'Conctacto | @lombardidev', description = 'Como puedes contactarme.' } = Astro.props
---

<BaseLayout title={title} description={description} >
	<h1>contact</h1>
</BaseLayout>