---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout>
	<main class="flex-1 mt-24 max-w-7xl mx-auto">
		<p>Hero</p>
		<p>Feactures</p>
		<p>Projects</p>
		<p>PeopleTAM</p>
		<p>CallToAction</p>
	</main>
</BaseLayout>
