---
import avatar from '@/assets/images/avatar.png';
import Features from '@/components/layout/Features.astro';
import Gallery from '@/components/layout/Gallery.astro';
import Grid from '@/components/layout/Grid.astro';
import Hero from '@/components/layout/Hero.astro';
import Testimonials from '@/components/layout/Testimonials.astro';
import CallToAction from '@/components/ui/CallToAction.astro';
import Preview from '@/components/ui/Preview.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const works = (await getCollection('works')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
).slice(0, 4)
---

<BaseLayout>
	<main class="container flex-1 mt-24 max-w-7xl mx-auto">
		<Hero
			title="Soy Matias Lombardi"
			subtitle="Hola a todos 👋!"
			description="Product Owner & Fullstack Developer"
			align="start"
			class="px-4 flex flex-col space-y-4"
		>
			<div class="flex flex-col gap-4 mb-4">
				<img 
					src={avatar.src} 
					alt="Matias Lombardi, sonriendo, de fondo su mundo resumido en un escritorio personalizado"
					class="w-auto h-auto rounded-xl drop-shadow-2xl shadow-teal-700"
				>
				<div class="w-full mx-auto text-center">
					<CallToAction 
						href="mailto:contactos@lombardidev.ar"
						target="_blank"
						rel="noopener noreferrer"
						class="py-2 px-8 w-auto text-center rounded-full no-underline shadow-md text-slate-50 bg-gradient-to-r from-teal-700 via-green-500 to-teal-900"
					>
						Contactame
					</CallToAction>
				</div>
			</div>
		</Hero>

		<Features />

		<Gallery
			title="Mis proyectos"
			description="Echa un vistazo a algunos de mis trabajos destacados."	
			class="mx-4 py-16"
		>
			<article>
			<Grid variant='offset'>
				{
					works.map((work) => (
						<li id={work.slug} >
							<Preview works={work} />
						</li>
					))
				}
				</Grid>
			</article>
		</Gallery>

		<Testimonials />


		<div class="bg-red-500">
			<p>CallToAction</p>
		</div>

	</main>
</BaseLayout>
