---
interface Props {
  href: string;
  target?: string;
  rel?: string;
  class?: string;
}

const { href, target, rel, class: className } = Astro.props as Props;
---
<a
  href={href}
  target={target}
  rel={rel}
  class={className}
>
  <slot />
</a>